.wraper {
	margin: 0 auto;
	width: 100%;
	max-width: 1500px;
}
.container {
	margin: 0 auto;
	padding: 0 2rem;
	max-width: 1500px;
}
.section-text {
	font-size: 1.5rem;
	color: $gray;
	font-weight: normal;
	line-height: 2;
}
.button {
	margin: 2rem 0;
	padding: 1rem 3rem;
	font-size: 1.6rem;
	color: white;
	background-color: $black;
}
.card {
	margin: 1rem;
}
.section {
	padding: 5rem 0;
}
